.about {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.about-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-container {
  width: 1192px;
  height: 530px;
  display: flex;
  gap: 10px;
  border: 8px solid #2c3b6f;
  background-color: #2c3b6f;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
}

.about-text-container {
  background-color: #fff;
}

.about-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.about-text h2 {
  color: #2c3b6f;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.about-text p {
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
  .about-container {
    width: 90%;
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 10px;
  }

  .about-image-container {
    width: 100%;
    height: 200px;
  }

  .about-image {
    aspect-ratio: 16 / 9;
  }

  .about-text-container {
    width: 100%;
  }

  .about-text {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .about-text {
    padding: 20px;
  }

  .about-text h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .about-text p {
    font-size: 0.9em;
    line-height: 1.5;
  }
}
